body {
    margin: 20px auto;
    font-family: tahoma, arial, sans-serif;
    font-size: 15px;
    background-color: #3a0362;
    color: #FFDE00;
}

a {
    color: #E08830;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #C86648;
}

p.center {
    text-align: center;
}

p.mono {
    font-family: "Courier New", Courier, monospace;
}

a.red {
    color: red;
}

div.center {
    text-align: center;
}

div.large_font {
    font-size: 25px;
}

div.wrap {
    width: 720px;
    margin: 0 auto;
}

div.left {
    float: left;
    width: 360px;
}

div.right {
    float: right;
    width: 360px;
}

div.left2 {
    float: left;
    width: 550px;
}

div.right2 {
    float: right;
    width: 170px;
}

p.red {
    color: red;
}

p.green {
    color: green;
}

p.blue {
    color: blue;
}

table.leaders {
    font-size: 10px;
    line-height: 12px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

/* Copied from 1t1 style.css */

li {
    margin: 0px 30px 5px 0px;
    text-align: justify;
}

p {
    margin: 10px 0px 5px;
    text-align: justify;
    line-height: 18px;
}

hr {
    padding-top: 15px;
    display: block;
    height: 0px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: inherit;
}

.sidebarbox {
    width: 91px;
}

input {
    padding: 2px;
    border: 0px solid;
    font-family: tahoma, arial, sans-serif;
    font-size: 10px;
    margin: 6px 0px;
}

ul {
    margin: 25px 0px;
}

#container {
    margin: 0px auto;
    width: 768px;
}

/* Page Header */

#header_container {
    background-image: url('banner.jpg');
    /*	background-color: #00bbff ; */
    margin-bottom: 12px;
    /*	border: 1px solid #fff; */
    overflow: hidden;
    height: 135px;
}

/* Page Header : Company Name & Logo */

#header_company {
    margin-top: 20px;
    width: 585px;
    height: 35px;
    float: left;
    text-align: left;
}

#header_company h1 {
    width: 585px;
    height: 35px;
}

/* Page Header : Welcome Note */

#header_welcome {
    padding-left: 142px;
    float: left;
    text-align: justify;
}

#header_welcome h3 {
    padding: 3px 0px 0px;
    font-size: 14px;
}

#header_welcome p {
    margin-top: 7px;
}

#header_welcome #welcome_text {
    width: 447px;
}

/* Page Header : Menu */

#header_menu {
    padding-top: 10px;
    padding-right: 40px;
    float: right;
}

#header_menu li {
    margin-bottom: 2px;
    width: 150px;
    border: 1px solid #FFDE00;
    text-align: left;
    clear: both;
    float: none;
}

#header_menu li a {
    display: block;
    width: 150px;
    height: 20px;
    color: #004384;
    background-color: #00bbff;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    line-height: 10px;
}

#header_menu li a span {
    display: block;
    padding-top: 4px;
    padding-left: 31px;
}

/* Left Sidebar */

#left_sidebar {
    width: 100px;
    float: left;
}

#left_sidebar .box_container {
    border: 1px solid #FFDE00;
    background-color: #3e0462;
    text-align: center;
    margin: 0px 0px 13px;
}

/* Main Content */

#content_container {
    border: 1px solid #FFDE00;
    background-color: #3e0462;
    float: right;
    text-align: left;
    width: 655px;
    margin: 0px 0px 13px;
}

#content {
    padding: 0px 7px 16px;
}

#message {
    padding: 0px 7px 0px;
}

#modification {
    padding: 16px 7px;
    font-style: italic;
}

/* Leaderboard cells displaying a single character */

#small_cell {
    text-align: center;
    padding-right: 1px;
}

/* Form button */

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: #E08830;
    text-decoration: underline;
    font-weight: bold;
}

button:focus {
    outline: #E08830 dotted 1px;
}

button:hover {
    color: #C86648;
}

/* the little bit of table styling that can be put in css */

table, td, th {
    border-color: #808080;
}

#centre img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
